div[data-resource="forums"] #right {
  position: absolute;
  top: 45px;
  right: 0px;
  width: 210px;
  height: 800px;
  border: 1px solid black;
  z-index: 100;
}

#main-outlet {
  margin-right: 220px;
}
